<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    {{ object_list.count }}

    {% for article in object_list %}
        <h3><a href="{% url 'detail' pk=article.pk %}">{{ article.title|capfirst }}</a></h3>
        <p>
            {{ article.content|capfirst|truncatewords:40 }}
        </p>
    {% endfor %}

</body>
</html>